.DS_Store
node_modules/
/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
src/ActionSheet.vue
src/button.vue
src/LoadeMore.vue
src/LoadMoreStore.vue
# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
